<div class="wrapper">
    <div class="page-header clear-filter" filter-color="black-grey">
        <div data-aos="fade-down" data-aos-duration="1000" class="page-header-image rellax-header"
            data-rellax-speed="-8" style="background-image: url('assets/img/header.png') ;">
        </div>
    </div>
    <div class="section pt-1 pb-1">
        <div class="container">
            <h3 data-aos="fade-up" data-aos-duration="1000" class="title" style="font-size: 2rem;">Contact Us</h3>
            <h5 data-aos="fade-up" data-aos-duration="1000" class="description description-sc text-black">
                Our offshore staffing model allows you to choose between “managing your resources by yourself or letting
                us do it for you,” either way, in this model, our consultants work for you from our office. Recommended
                for projects with well-defined goals and deliverables, our offshore staffing model optimizes cost while
                providing state-of-the-art services through our offshore development facilities.
            </h5>
            <div class="row list-items">
                <div data-aos="zoom-in" data-aos-duration="1000" class="card col-6 p-4"
                    style="max-width: fit-content;">
                    <div class="btn-icon btn-secondary btn-round mr-2">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <span>Address</span><br><br>
                    <span>Medipally
                        Hyderabad -500098</span>
                </div>
                <div data-aos="zoom-out" data-aos-duration="1000" class="card col-6 p-4 ml-5"
                    style="max-width: fit-content;">
                    <div class="btn-icon btn-secondary btn-round mr-2">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <span>Business Hours</span><br><br>
                    <span>Mon – Fri – 9 am – 5 pm Sat, Sun – Closed</span>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>