.page-header {
    min-height: 50%;
    height: 50vh;
}

.description-sc {
    max-width: fit-content !important;
    margin-bottom: 35px !important;
    text-align: left !important;

}

.display-inline {
    display: inline;
}

.list-items {
    .btn-round {
        display: inline;
        padding: 9px 12px;
    }
}


.img-sc {
    height: 50%;
    width: 100%;
    background-size: cover;
    border-radius: 0.25rem;
}

.speciliazation-container {
    ul {
        width: min(100%, 60rem);
        overflow: hidden;
        margin-inline: auto;
        padding-inline: clamp(1rem, 5vw, 4rem);
        list-style: none;
        perspective: 1000px;
        display: grid;
        row-gap: 0.5rem;
    }

    ul li.card-temp {
        position: relative;
        padding-block: 1.5rem;
        padding-inline: 2rem;
        background-color: var(--bg-color);
        background-image: linear-gradient(to right, rgb(0 0 0 / .15), transparent);
        transform-style: preserve-3d;
        color: #ececec;
        grid-template: 'icon' 'title' 'content';
        row-gap: 0.5rem;
        column-gap: 2rem;
    }

    ul li.card-temp::before,
    ul li.card-temp::after {
        --side-rotate: 60deg;
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        transform-origin: calc(50% - (50% * var(--ry))) 50%;
        transform: rotateY(calc(var(--side-rotate) * var(--ry)));
        background-color: inherit;
        background-image: linear-gradient(calc(90deg * var(--ry)), rgb(0 0 0 / .25), rgb(0 0 0 / .5));
    }

    ul li.card-temp::before {
        --ry: -1;
        right: 100%
    }

    ul li.card-temp::after {
        --ry: 1;
        left: 100%
    }


    @media (min-width: 30rem) {
        ul li.card-temp {
            grid-template: 'icon title' 'icon content';
            text-align: center;
        }

        ul li.card-temp .title {
            text-align: center
        }
    }
}