<div class="wrapper">
    <div class="page-header clear-filter" filter-color="black-grey">
        <div data-aos="fade-down" data-aos-duration="1000" class="page-header-image rellax-header"
            data-rellax-speed="-8" style="background-image: url('assets/img/header.png') ;">
        </div>
    </div>
    <div class="section pt-1 pb-1">
        <div class="container">
            <h3 data-aos="fade-up" data-aos-duration="1000" class="title" style="font-size: 2rem;">About Us</h3>
            <h5 data-aos="fade-up" data-aos-duration="1000" class="description description-sc text-black">
                <b>Succor
                    Technologies India
                    Private Limited</b>
                is Global
                Industrial Solution
                Provider
                primarily focusing on Human resource (recruitments).. Succor Technologies India Private Limited
                has
                evolved from the experience, exposure of many people, groups, organizations, industries, and
                subsidiaries nationally and internationally for a common purpose.
            </h5>
            <div class="row">
                <div data-aos="zoom-out" data-aos-duration="1500" class="pt-1 col-lg-6">
                    <img src="assets/img/about-us-1.jpg" alt="Raised Image" class="rounded img-raised">
                </div>
                <div class="col-lg-6">
                    <h5 class="description description-sc text-black m-0">
                        With more
                        than hundred thousands
                        Industry
                        professionals,
                        business people, University Heads, academicians across the world we leverage a differential
                        advantage to
                        our clients in exercising the best HR solutions ranging from recruitment to training. Our
                        talented team
                        of cross cultural professionals gives us an added advantage to service clients in different
                        parts of the
                        world with ease and efficiency. This global strength works with clients to tailor made solutions
                        to
                        specific business needs, lending insight and best practices, and bringing valuable industry
                        focused
                        ideas in the field of Human Resource. Through our extensive network and deep industry expertise,
                        we are committed to helping businesses thrive by providing innovative HR solutions that drive
                        growth, foster talent development, and strengthen organizations for a sustainable future.
                    </h5>
                </div>
            </div>
            <h5 class="mt-0 text-left description description-sc text-black">From
                sophisticated supply chain
                management to
                cutting-edge
                E-Commerce and comprehensive new product/project/concept and service development, we offer you
                the
                strategic, operational, Management and technical services critical to today's businesses. The
                goal is to
                achieve meaningful, measurable and scaleable results. We don't just understand the trends; we
                help
                clients to create trends in the field of human resource.
            </h5>
        </div>
        <div class="container speciliazation-container">
            <h2>Specialization</h2>
            <ul>
                <li data-aos="zoom-in" data-aos-duration="1500" class="card-temp" style="--bg-color:#f18c8e">
                    <div>Information Technology and Information Technology Enabled Services
                    </div>
                </li>
                <li data-aos="zoom-in" data-aos-duration="1500" class="card-temp" style="--bg-color:#f0b7a4">
                    <div>Banking, Insurance, Finance, Capital Markets</div>
                </li>
                <li data-aos="zoom-in" data-aos-duration="1500" class="card-temp" style="--bg-color:#f1d1b5">
                    <div>Communications, Media, Entertainment.</div>
                </li>
                <li data-aos="zoom-in" data-aos-duration="1500" class="card-temp" style="--bg-color:#568ea6">
                    <div>Energy, Chemicals, Utilities, Automobile, Manufact</div>
                </li>
                <li data-aos="zoom-in" data-aos-duration="2000" class="card-temp" style="--bg-color:#305f72">
                    <div>Consumer products, Retailing.</div>
                </li>
                <li data-aos="zoom-in" data-aos-duration="1500" class="card-temp" style="--bg-color:#f1d1b5">
                    <div>Pharmaceutical, Biotech, Health care</div>
                </li>
                <li data-aos="zoom-in" data-aos-duration="2000" class="card-temp" style="--bg-color:#f0b7a4">
                    <div>Real Estate and Construction</div>
                </li>
            </ul>
        </div>
        <div class="pt-4 container">
            <h2>Sectors</h2>
            <div class="row">
                <div data-aos="fade-right" data-aos-duration="1500" class="col-lg-6">
                    <img src="assets/img/about-us-2.jpg" alt="Raised Image" class="rounded img-raised">
                </div>
                <div class="col-lg-6">
                    <h5 class="description description-sc text-black">
                        Our focus is to deliver better solutions with thorough research understanding of varied
                        industries globally. The team at Succor Technologies India Private Limited. HR Consulting has
                        expertise in providing executive search service to our clients using the following INDUSTRY
                        VERTICALS across different managerial levels.
                    </h5>
                </div>
            </div>
        </div>

        <div class="pt-5 container speciliazation-container">
            <h2>Business Process Out Sourcing</h2>
            <ul>
                <li data-aos="zoom-in" data-aos-duration="750" class="card-temp" style="--bg-color:#f18c8e">
                    <div>Banking, Financial services and insurance
                    </div>
                </li>
                <li data-aos="zoom-in" data-aos-duration="750" class="card-temp" style="--bg-color:#f0b7a4">
                    <div>Advisory and Legal services </div>
                </li>
                <li data-aos="zoom-in" data-aos-duration="750" class="card-temp" style="--bg-color:#f1d1b5">
                    <div>Health Care</div>
                </li>
                <li data-aos="zoom-in" data-aos-duration="750" class="card-temp" style="--bg-color:#568ea6">
                    <div>IT Enables Services</div>
                </li>
                <li data-aos="zoom-in" data-aos-duration="750" class="card-temp" style="--bg-color:#305f72">
                    <div>Consumer products, Retailing.</div>
                </li>
            </ul>
        </div>

        <div class="pt-4 container card-container">
            <h2>Manufacturing</h2>
            <div class="row list-items">
                <div data-aos="fade-up-right" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i><span>Automobile and Auto components</span>
                    </div>
                </div>
                <div data-aos="fade-up-left" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i><span>Capital equipment, Heavy and Light Engineering
                        </span>
                    </div>
                </div>
                <div data-aos="fade-up-right" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i><span>In fracture projects </span>
                    </div>
                </div>
                <div data-aos="fade-up-left" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i> <span>Metallurgical industries </span>
                    </div>
                </div>
                <div data-aos="fade-up-right" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i> <span>Process industries </span>
                    </div>
                </div>
                <div data-aos="fade-up-left" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i> <span>Chemicals</span>
                    </div>
                </div>
                <div data-aos="fade-up-right" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i> <span> Electrical equipments</span>
                    </div>
                </div>
                <div data-aos="fade-up-left" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i> <span>Pharmaceutical, health care and life
                            sciences</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-5 container speciliazation-container">
            <h2>Consumer Goods and Retails</h2>
            <ul>
                <li data-aos="zoom-in" data-aos-duration="750" class="card-temp" style="--bg-color:#f18c8e">
                    <div>Fast moving consumer goods </div>
                </li>
                <li data-aos="zoom-in" data-aos-duration="750" class="card-temp" style="--bg-color:#f0b7a4">
                    <div>Consumer durables and semi durables </div>
                </li>
                <li data-aos="zoom-in" data-aos-duration="750" class="card-temp" style="--bg-color:#f1d1b5">
                    <div>Retail chain-Food, </div>
                </li>
                <li data-aos="zoom-in" data-aos-duration="750" class="card-temp" style="--bg-color:#568ea6">
                    <div>Apparel, Conceptual stores </div>
                </li>
                <li data-aos="zoom-in" data-aos-duration="750" class="card-temp" style="--bg-color:#305f72">
                    <div>Warehousing and logistics .</div>
                </li>
            </ul>
        </div>

        <div class="pt-4 container card-container">
            <h2>Financial Services</h2>
            <div class="row list-items">
                <div data-aos="fade-up-right" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i> <span>Commercial and Corporate Banking </span>
                    </div>
                </div>
                <div data-aos="fade-up-left" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i> <span>Retail Banking, Investments and Investment Banking
                        </span>
                    </div>
                </div>
                <div data-aos="fade-up-right" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i> <span>Insurance-Life and general </span>
                    </div>
                </div>
                <div data-aos="fade-up-left" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i> <span>Financial Advisory and Consulting </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-5 container speciliazation-container">
            <h2>Hospital and Entertainment</h2>
            <ul>
                <li data-aos="zoom-in" data-aos-duration="750" class="card-temp" style="--bg-color:#f18c8e">
                    <div>Hospitality-Restaurants, Bars, Corporate Event Management </div>
                </li>
                <li data-aos="zoom-in" data-aos-duration="750" class="card-temp" style="--bg-color:#f0b7a4">
                    <div>Leisure-Entertainment, Theme park, Sports, Fitness Clubs </div>
                </li>
                <li data-aos="zoom-in" data-aos-duration="750" class="card-temp" style="--bg-color:#f1d1b5">
                    <div>Travel-Airlines, Hotel management, transportation and travel agents </div>
                </li>
            </ul>
        </div>

        <div class="pt-4 container card-container">
            <h2>Functional Group</h2>
            <h4>We provide executive search services for the following functional groups</h4>
            <div class="row list-items pt-3">
                <div data-aos="fade-up-right" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i> <span>Business heads, Senior Management, Board of Directors. </span>
                    </div>
                </div>
                <div data-aos="fade-up-left" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i> <span>Finance, Accounts, Audit, Commercial, Taxation. </span>
                    </div>
                </div>
                <div data-aos="fade-up-right" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i> <span>Corporate Planning. </span>
                    </div>
                </div>
                <div data-aos="fade-up-left" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i> <span>Quality Management and Quality Circles. </span>
                    </div>
                </div>
                <div data-aos="fade-up-right" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i> <span>Pre-sales, Sales and after sales. </span>
                    </div>
                </div>
                <div data-aos="fade-up-left" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i> <span>Marketing-Trade Marketing, Advertisement, Media & Communications, Consumer </span>
                    </div>
                </div>
                <div data-aos="fade-up-right" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i> <span>Research. </span>
                    </div>
                </div>
                <div data-aos="fade-up-left" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i> <span>Procurement-Purchase, Supply chain, Sourcing and vendor management </span>
                    </div>
                </div>

                <div data-aos="fade-up-left" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i> <span>Information technology, Information technology enabled services </span>
                    </div>
                </div>
                <div data-aos="fade-up-right" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i> <span>Projects-Proposal and sales, Engineering, procurement, Project management. </span>
                    </div>
                </div>
                <div data-aos="fade-up-left" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i> <span>Resource management.</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>