<div class="wrapper">
    <div class="page-header clear-filter" filter-color="black-grey">
        <div data-aos="fade-down" data-aos-duration="1000" class="page-header-image rellax-header"
            data-rellax-speed="-8" style="background-image: url('assets/img/header.png') ;">
        </div>
    </div>
    <div class="section pt-1 pb-1">
        <div class="container">
            <h3 data-aos="fade-up" data-aos-duration="1000" class="title" style="font-size: 2rem;">About Us</h3>
            <h5 data-aos="fade-up" data-aos-duration="1000" class="description description-sc text-black">
                <b>Succor
                    Technologies India
                    Private Limited</b>
                is Global
                Industrial Solution
                Provider
                primarily focusing on Human resource (recruitments).. Succor Technologies India Private Limited
                has
                evolved from the experience, exposure of many people, groups, organizations, industries, and
                subsidiaries nationally and internationally for a common purpose.
            </h5>
            <div data-aos="fade-up" data-aos-duration="1000" class="row">
                <div class="col-md-6">
                    <img src="assets/img/home-bg1.jpg" alt="Raised Image" class="rounded img-raised">
                </div>
                <div class="col-6">
                    <h5 class="mt-0 pl-3 pr-3 text-left description description-sc text-black">
                        With more
                        than hundred thousands
                        Industry
                        professionals,
                        business people, University Heads, academicians across the world we leverage a differential
                        advantage to
                        our clients in exercising the best HR solutions ranging from recruitment to training. Our
                        talented team
                        of cross cultural professionals gives us an added advantage to service clients in different
                        parts of the
                        world with ease and efficiency. This global strength works with clients to tailor made solutions
                        to
                        specific business needs, lending insight and best practices, and bringing valuable industry
                        focused
                        ideas in the field of Human Resource. Through our extensive network and deep industry expertise,
                        we are committed to helping businesses thrive by providing innovative HR solutions that drive
                        growth, foster talent development, and strengthen organizations for a sustainable future.
                    </h5>
                </div>
            </div>
            <h5 data-aos="fade-up" data-aos-duration="1000"
                class="mt-0 text-left description description-sc text-black">From
                sophisticated supply chain
                management to
                cutting-edge
                E-Commerce and comprehensive new product/project/concept and service development, we offer you
                the
                strategic, operational, Management and technical services critical to today's businesses. The
                goal is to
                achieve meaningful, measurable and scaleable results. We don't just understand the trends; we
                help
                clients to create trends in the field of human resource.
            </h5>
        </div>
    </div>
</div>