.page-header {
    min-height: 50%;
    height: 50vh;
}

.description-sc {
    max-width: fit-content !important;
    margin-bottom: 50px !important;
    text-align: left !important;

}

.img-sc {
    height: 50%;
    width: 100%;
    background-size: cover;
    border-radius: 0.25rem;
}