<div class="wrapper">
    <div class="page-header clear-filter" filter-color="black-grey">
        <div data-aos="fade-down" data-aos-duration="1000" class="page-header-image rellax-header"
            data-rellax-speed="-8" style="background-image: url('assets/img/header.png') ;">
        </div>
    </div>
    <div class="section pt-1 pb-1">
        <div class="container">
            <h3 data-aos="fade-up" data-aos-duration="1000" class="title" style="font-size: 2rem;">Services</h3>
            <h5 data-aos="fade-up" data-aos-duration="1000" class="description description-sc text-black">
                <b>Succor
                    Technologies India
                    Private Limited</b>
                is constantly exploring ways to customize and innovate HR
                services especially in the arena of Recruitments to effectively integrate into client’s human resource
                processes. The board range of HR services offered by us are designed to reduce the amount of time HR
                professionals spend on non-core activities like.
            </h5>
        </div>
        <div class="pt-4 container card-container">
            <div class="row list-items">
                <div data-aos="zoom-out" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i><span>Talent search</span>
                    </div>
                </div>
                <div data-aos="zoom-out" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i><span>Software Project Delivery</span>
                    </div>
                </div>
                <div data-aos="zoom-in" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i><span>Permanent staffing</span>
                    </div>
                </div>
                <div data-aos="zoom-out" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i><span>Database search</span>
                    </div>
                </div>
                <div data-aos="zoom-in" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i><span>Value added recruitment services</span>
                    </div>
                </div>
                <div data-aos="zoom-out" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i><span>Job fair</span>
                    </div>
                </div>
                <div data-aos="zoom-in" data-aos-duration="1500" class="col-lg-7 p-3 card row">
                    <div class="col-lg-11">
                        <i class="mr-3 fa fa-arrow-right"></i><span>Training</span>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="pt-4 container card-container">
            <h2>Talent Search</h2>
            <div data-aos="zoom-in" data-aos-duration="1500" class="p-3 custom-card">
                <div class="col-lg-11">
                    <i class="mr-3 fa fa-list"></i><b class="display-contents">Succor Technologies India Private
                        Limited</b> brings together
                    different
                    expertise
                    of
                    various
                    technologies and domains with a strong industrial focus on the latest market trends to match
                    with the client’s requirement giving us a better understanding of the needs of the clients.
                </div>
            </div>
        </div>
        <br>
        <div class="pt-4 container card-container">
            <h2>Permanent Staffing</h2>
            <div data-aos="zoom-in" data-aos-duration="1500" class="p-3 custom-card">
                <div class="col-lg-11">
                    <i class="mr-3 fa fa-list"></i>Primarily addresses requirements for
                    fresher/junior/middle management
                    staff.
                    Growing database of thousands of professionals- Web-enabled database for speedy matching of
                    profiles.
                </div>
            </div>
        </div>
        <br>
        <div class="pt-4 container card-container">
            <h2>Database Search</h2>
            <div data-aos="zoom-in" data-aos-duration="1500" class="p-3 custom-card">
                <div class="col-lg-11">
                    <i class="mr-3 fa fa-list"></i>
                    We have our own database and search in Job portals and our
                    specialization is on
                    Head hunting and references.
                </div>
            </div>
        </div>
        <br>
        <div class="pt-4 container card-container">
            <h2>Value Added Recruitment Services</h2>
            <div data-aos="zoom-in" data-aos-duration="1500" class=" p-3 custom-card">
                <div class="col-lg-11">
                    <i class="mr-3 fa fa-list"></i>
                    A pioneering service in India by
                    <b class="display-contents"> Succor Technologies India Private Limited</b>
                    from
                    clients, particularly at junior/middle management levels. Best suited for start-ups, new project
                    manning, scale up of team sizes and geographical expansion of teams (e.g. sales/servicing
                    teams).Often supported by advertising, our presence in India enables us to mobilize internal
                    resources to process large volume responses, manage selection of required personnel, Including the
                    management of administrative details and logistics. Our timely action plan translates to a
                    significant saving of the client's time and most important of all, of the costs when compared to
                    other means of sourcing.
                </div>
                <div class="pl-5 pt-4" style="color: #17a2b8;">
                    <h3 style="color: white;">Benefits we offer</h3>
                    <div class="row list-items">
                        <div data-aos="fade-up-right" data-aos-duration="1500" class="col-lg-7 p-3 card">
                            <span><i class="mr-3 fa fa-arrow-right"></i>Flexibility for clients.</span>
                        </div>
                        <div data-aos="fade-up-left" data-aos-duration="1500" class="col-lg-7 p-3 card">
                            <span><i class="mr-3 fa fa-arrow-right"></i>Addresses headcount limitations squarely.</span>
                        </div>
                        <div data-aos="fade-up-right" data-aos-duration="1500" class="col-lg-7 p-3 card">
                            <span><i class="mr-3 fa fa-arrow-right"></i>Time and cost of selection reduced.</span>
                        </div>
                        <div data-aos="fade-up-left" data-aos-duration="1500" class="col-lg-7 p-3 card">
                            <span><i class="mr-3 fa fa-arrow-right"></i>Faster mobilization and demobilization.</span>
                        </div>

                        <div data-aos="fade-up-right" data-aos-duration="1500" class="col-lg-7 p-3 card">
                            <span><i class="mr-3 fa fa-arrow-right"></i>Eliminates expensive contractual
                                procedures.</span>
                        </div>
                        <div data-aos="fade-up-left" data-aos-duration="1500" class="col-lg-7 p-3 card">
                            <span><i class="mr-3 fa fa-arrow-right"></i>Cost savings on account of payment for days
                                worked.</span>
                        </div>
                        <div data-aos="fade-up-right" data-aos-duration="1500" class="col-lg-7 p-3 card">
                            <span><i class="mr-3 fa fa-arrow-right"></i>Statutory obligations no longer client's
                                responsibility.</span>
                        </div>
                        <div data-aos="fade-up-left" data-aos-duration="1500" class="col-lg-7 p-3 card">
                            <span><i class="mr-3 fa fa-arrow-right"></i>Strong existing database of candidates.</span>
                        </div>
                        <div data-aos="fade-up-left" data-aos-duration="1500" class="col-lg-7 p-3 card">
                            <span><i class="mr-3 fa fa-arrow-right"></i>Temporary to Permanent possibility.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

    </div>
</div>