.page-header {
    min-height: 50%;
    height: 50vh;
}

.description-sc {
    max-width: fit-content !important;
    margin-bottom: 35px !important;
    text-align: left !important;

}

.display-inline {
    display: inline;
}

.display-contents {
    display: contents;
}

.list-items {
    .btn-round {
        display: inline;
        padding: 9px 12px;
    }
}

.custom-card {
    background-color: #17a2b8;
    color: white;
    box-shadow: 0 4px 8px #212529;
}

.card-container {
    .row {
        display: flex;
        flex-direction: row;
        margin: 0 0 10px 0;
    }

    .col-lg-11 {
        display: flex;
        align-items: center !important;
    }
}