<div class="wrapper">
    <div class="page-header clear-filter" filter-color="black-grey">
        <div data-aos="fade-down" data-aos-duration="1000" class="page-header-image rellax-header"
            data-rellax-speed="-3" style="background-image: url('assets/img/header.png');">
        </div>
        <div class="container">
            <div class="content-center brand"><br><br><br>
                <img data-aos="fade-up" data-aos-duration="1500" style="max-width: 250px;" class="n-logo"
                    src="assets/img/s_prev_ui.png" alt="">
                <h1 data-aos="fade-up" data-aos-duration="1500" class="h1-seo">{{title}}</h1>
                <h3 data-aos="fade-up" data-aos-duration="1500">India Private Limited.</h3>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="section section-about-us pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Who we are?</h2>
                        <h5 class="description text-black">{{intro_info}}
                        </h5>
                    </div>
                </div>
                <div class="separator separator-primary"></div>
                <div class="section-story-overview pb-4">
                    <div class="row">
                        <div data-aos="flip-right" data-aos-duration="2000" class="col-md-6">
                            <div class="image-container image-left"
                                style="background-image: url('assets/img/home-bg1.jpg')">
                            </div>
                        </div>
                        <div data-aos="flip-left" data-aos-duration="2000" class="col-md-5">
                            <div class="image-container image-right"
                                style="background-image: url('assets/img/home-bg2.jpg')"></div>

                        </div>
                    </div>
                    <div class="row m-0">
                        <h3>Comprehensive band of services along with our joint collaborations and associations,
                            allies and subsidiaries companies</h3>
                        <div class="m-0 row list-items">
                            <div data-aos="zoom-in-right" data-aos-duration="1000" class="col-lg-7 p-3 card">
                                <i class="mr-3 fa fa-arrow-right"></i>
                                <span>Drive profit through increased client and customer loyalty </span>
                            </div>
                            <div data-aos="zoom-in-right" data-aos-duration="1000" class="col-lg-7 p-3 card">
                                <i class="mr-3 fa fa-arrow-right"></i>
                                <span>Reduce costs through Internet-enabled operational
                                    efficiencies</span>
                            </div>
                            <div data-aos="zoom-in-right" data-aos-duration="1000" class="col-lg-7 p-3 card">
                                <i class="mr-3 fa fa-arrow-right"></i>
                                <span> Capture market share through innovative business
                                    initiatives. </span>
                            </div>
                            <div data-aos="zoom-in-right" data-aos-duration="1000" class="col-lg-7 p-3 card">
                                <i class="mr-3 fa fa-arrow-right"></i>
                                <span> Continuously research and innovate to build
                                    better recruitment solutions</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>