ngb-progressbar {
    margin-top: 5rem;
}

.display-inline {
    display: inline;
}

.list-items {
    .btn-round {
        display: inline;
        padding: 9px 12px;
    }
}

@media screen and (max-width: 768px) {
    .image-container.image-left {
        margin-bottom: 25px;
    }

    .image-container.image-right {
        margin-bottom: 25px;
    }
}