<footer class="footer" data-background-color="black" style="position: relative; z-index: 2;">
    <div class="pt-1" id="#download-section" data-background-color="black">
        <!-- <div class="container">
            <div class="row justify-content-md-center sharing-area text-center">
                <div class="text-center col-md-12 col-lg-8">
                    <h3>Let's get in touch on any of these platforms!</h3>
                </div>
                <div class="text-center col-md-12 col-lg-8">
                    <a target="_blank" href="https://twitter.com/NascentInc"
                        class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/Nascenttechnologiesinc"
                        class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/company/nascent-technologies-inc"
                        class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="Follow us">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a target="_blank" href="https://www.youtube.com/channel/UCh4vUkRnqnQZUd03ZbL_z1Q"
                        class="btn btn-neutral btn-icon btn-youtube btn-round btn-lg" rel="tooltip"
                        title="Subscribe on Youtube">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/nascenttechnologiesinc/"
                        class="btn btn-neutral btn-icon btn-instagram btn-round btn-lg" rel="tooltip"
                        title="Follows Us on Instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div> -->
    </div>
    <div class="container">
        <div class="developer" style="display: none;">
            <span>Srikanth Voma</span>
            <span>https://instagram.com/vsk.srikanth?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D</span>
        </div>
        <div class="copyright">
            &copy;
            {{data | date: 'yyyy'}}, Succor Technologies Inc. All Rights Reserved.
        </div>
    </div>
</footer>